body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1rem;
}

h2 {
    color: #333;
}

form {
    margin-bottom: 1rem;
}

input, button {
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 0.5rem 0;
    padding: 0.5rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.tabs {
    display: flex;
    border-bottom: 2px solid #ddd;
    margin-bottom: 1rem;
}

.tab-button {
    flex: 1;
    padding: 0.5rem;
    background-color: #f9f9f9;
    border: none;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    text-align: center;
    color: #333; /* Adicione esta linha para garantir que o texto seja visível */
    font-size: 1rem; /* Ajuste o tamanho da fonte, se necessário */
}

.tab-button.active {
    border-bottom: 2px solid #007BFF;
    font-weight: bold;
    color: #007BFF; /* Adicione esta linha para destacar o texto da aba ativa */
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}
